@media (min-width: 1201px) {
  .navbar{
    height:100px;
  }
  .navbar .navbar-brand {
    padding-left:100px;
  }
  #img-limit {
    height: 475px;
    max-height: 475px;
  }
  #contact-left {
    border-right: 1px solid #e6e6e6;
  }
}
/* iPad */
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar .navbar-brand {
    padding-left: 25px;
  }

  .navbar-nav > li > a {
    font-size: .9em;
  }
  #img-limit {
    height: 310px;
    max-height: 310px;
  }
  #contact-left {
    border-right: 1px solid #e6e6e6;
  }
}

@media (max-width: 768px) {
  #contact-right {
    margin-top: 20px;
  }
  .navbar-default .navbar-collapse {
    border:none;
  }
}

body {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
#above-nav {
  height:40px;
  background-color:#333;
}
.navbar {
  background-color: #fff;
  padding: 20px 0;
}
.navbar-default {
  background-color: white;
  border:none;
}
.navbar-brand img {
  float:left;
}
.navbar-default .navbar-nav > li > a {
  color:#999;
}
.navbar-nav > li > a {
  padding: 0 9px;
  line-height: 75px;
  font-weight:bold;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
  padding: 1.5px;
}
#img-limit {
  overflow: hidden;
  padding-left:0px;
  padding-right:0px;
}
.content {
  background-color: #f2f2f2;
}
h3 {
  color:#999;
  padding:15px 0;
}
#spacer {
  height:25px;
  background-color: white;
}
#contact {
  padding: 25px 0;
}
#contact p {
  text-transform: none;
  margin:0;
  color:#999;
}
#contact-left img {
  margin-bottom: 20px;
}
#contact ul {
  padding-top: 5px;
  list-style: none;
  text-transform: none;
}
#contact li {
  margin: 10px 0 10px -40px;
}
#contact li a {
  color: #999;
}
footer {
  height:65px;
  background-color:#333;
  color: white;
  text-transform: none;
}
footer p {
  line-height: 60px;
  color:#E6E6E6;
}
#circle {
  position: absolute;;
  right: 25px;
  bottom: 35px;
  border-radius:50%;
  width:50px;
  height:50px;
  background-color: #1aa3ff;
}
#circle .glyphicon {
  font-size: 1.5em;
  color: white;
  left:16px;
  top:15px;
}
